* {
  font-family: 'Lunasima', sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 0 !important;
}

.container {
  width: adpval(320, 1210, 1400);
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.container-bg {
  width: min(1682px, 100%);
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.container-lg {
  width: min(1920px, 100%);
  margin: 0 auto;
  position: relative;
}

.w {
  width: 100% !important;
}
.margin{
  margin:30px 0;
}
.h2 {
  font-size: adpval(28, 36);
  font-style: normal;
  font-weight: 500;
  line-height: 52.2px;
  letter-spacing: 2.52px;
  text-transform: uppercase;
}

.h3 {
  font-size: adpval(24, 32);
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}
:root{
  --swiper-pagination-color: #D2B48CFF;
}

